.fill-box {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.middle-align {
  text-align: center;
  height: 100%;
  widht: 100%;
}

.align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#container {
  display: table;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#image-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

#left-panel {
  width: 200px;
  margin-left: 10px;
  float:left;
}

#right-content {
  width: 600px;
  margin-left: 10px;
  float:left;
}

.square {
    background: #acacac;
    width: 600px;
    height: 600px;
}
